Exercise 3

1. Write a program flow which will assign grade by the test scores using the following conditions:

If score >= 90, grade="A"
If 80 >= score >90, grade="B"
If 70 >= score >80, grade="C"
If 60 >= score >70, grade="D"
IF score < 60, grade="F"

In [1]:
# code up your solution here
# to practice function, I defined a function to do this exercise
def grading(score):
    if score >= 90:
        grade = 'A'
    elif score >= 80:
        grade = 'B'
    elif score >= 70:
        grade = 'C'
    elif score >= 60:
        grade = 'D'
    else:
        grade = 'F'
    return grade

In [2]:
grading(85)

'B'

x=1, y=1, write a flow to assign messge to different value base on different criteria as below, and in the end print out the message:

a. If x less than y, messge="x is less than y"

b. If x larger than y, messge="x is greater than y"

c. If x equal to y, messge="x is the same as y"

In [3]:
# to exercise function, I used function here
def comparision(x,y):
    if x < y:
        msg = 'x is less than y'
    elif x > y:
        msg = 'x is greater than y'
    else:
        msg = 'x is the same as y'
    return msg

In [4]:
comparision(1,1)

'x is the same as y'

Exercise 4

1.Read more on list and select 2 list methods not mentioned in class to give examples of using them.

In [19]:
list1=[1,1,2,3]

In [20]:
list1.count(1)

2

In [23]:
list1.insert(1,'orange')

In [26]:
list1.remove('orange')

In [27]:
list1

[1, 1, 2, 3]

2.How can you check if a key is already in a dictionary? Give an example.

The Fibonacci Sequence is the series of numbers: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ...
The next number is found by adding up the two numbers before it. Find the last element of the fibolist

In [31]:
dict1 = {'data':'science', 'science':0, 0:'data'}
print('data' in dict1.keys())
print('2' in dict1.keys())

True
False

3.Explore how Counter works as another type of collection. Give 2 examples to use Counter.

In [34]:
from collections import Counter
c = Counter('abdfjiojfojvfhqwof')
c.most_common(4)

[('f', 4), ('j', 3), ('o', 3), ('a', 1)]

In [35]:
sorted(c.elements())

['a',
 'b',
 'd',
 'f',
 'f',
 'f',
 'f',
 'h',
 'i',
 'j',
 'j',
 'j',
 'o',
 'o',
 'o',
 'q',
 'v',
 'w']

4. The Fibonacci Sequence is the series of numbers: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ...
The next number is found by adding up the two numbers before it. Find the last element of the fibolist

In [52]:
fibolist=[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811]

# code your solution here
fibolist[-1]

317811

5.Calculate the sum of fibolist

In [48]:
print(sum(fibolist))

832039

6.Calculate and append the next fibonacci number to fibolist.

In [44]:
next_item = fibolist[-1] + fibolist[-2]

In [53]:
fibolist.append(next_item)

In [54]:
fibolist

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229]

7.Create a reversed copy of fibolist without permanently reversing fibolist liteslf.

In [55]:
fibolist2 = fibolist.copy()
fibolist2.reverse()

In [56]:
fibolist2

[514229,
 317811,
 196418,
 121393,
 75025,
 46368,
 28657,
 17711,
 10946,
 6765,
 4181,
 2584,
 1597,
 987,
 610,
 377,
 233,
 144,
 89,
 55,
 34,
 21,
 13,
 8,
 5,
 3,
 2,
 1,
 1,
 0]

8.Check if 29473 is a fibonacci number, and assign the anser to variable fibo_29473

In [58]:
fibo_29473 = 29473 in fibolist
fibo_29473

False

9.Create two sets. Calculate the union, intersection, difference and symmetric difference for the two sets.

In [60]:
a = set('Data Scienece')
b = set('Data Engineering')

In [61]:
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(a.symmetric_difference(b))

{'E', 't', 'n', 'e', 'D', 'g', 'S', 'a', 'i', 'c', 'r', ' '}
{'t', 'n', 'e', 'D', 'a', ' ', 'i'}
{'c', 'S'}
{'E', 'c', 'g', 'S', 'r'}

10.Creat a dictionary using at least two different methods.

In [67]:
dict1 = {'key1':1, 'key2':2, 'keys': 'value'}
dict1

{'key1': 1, 'key2': 2, 'keys': 'value'}

In [66]:
dict2 ={}
dict2['key1'] = 1
dict2['key2'] = 2
dict2['key3'] = 'value'
dict2

{'key1': 1, 'key2': 2, 'key3': 'value'}

11. Check if 2 and 9999 are fibonacci numbers. Create a dictionary fibo_dict with the numbers as keys, and value=True if the number is fibonacci number, and False otherwise.

In [70]:
fibo_dict ={}
fibo_dict[2] = 2 in fibolist
fibo_dict[9999] = 9999 in fibolist
fibo_dict

{2: True, 9999: False}